In [33]:
import json
import gzip
import jsonlines
import pandas as pd
import json
from pandas.io.json import json_normalize

## 1. Converting Json Lines file to dataframe    
- The json-lines file is a list of json objects I read that into a stream and convert that stream into list of json objects    
- Then I take this list and convert to the dataframe by using json_normalize() which gives me the dataframe output as shown below

In [2]:
with gzip.GzipFile("ida_wrangling_exercise_data.2017-02-13.jsonl.gz", "rb") as f:
    stream = f.read().decode('utf-8')

In [27]:
data = []

# convert list of string to list of jsons 
for str in stream.split('\n'):
    if str!='': #is str is not empty in list
        data.append(json.loads(str))

In [30]:
df = json_normalize(data)

In [32]:
df.head(10)

,address,address.city,address.state,address.street,address.zip,dob,email,id,name,name.firstname,name.lastname,name.middlename,phone,record_date,ssn
0,NaN,Hoodburgh,RI,86314 David Pass Apt. 211,83973,1971-06-30,opark@hotmail.com,01d68a4c598a45559c06f4df0b3d82cb,NaN,Cynthia,Dawson,Claire,624-869-4610,2006-07-08T09:02:13,xxx-xx-2412
1,"20722 Coleman Villages\nEast Rose, SC 71064-5894",NaN,NaN,NaN,NaN,1965-09-09,sperez@armstrong.com,876ff718291d4397bb1e0477ceee6ad9,NaN,Tamara,Myers,NaN,1-594-462-7759,2009-03-28T20:22:57,xxx-xx-8025
2,NaN,New Julie,UT,6676 Young Square,73125,1993-04-12,uortiz@gmail.com,81753097bf7e4e2085982f422bdb9cda,NaN,Jamie,Alexander,NaN,472.218.5065x389,2016-08-30T20:31:39,xxx-xx-0568
3,"0932 Gomez Drives\nLeefort, MD 46879-3166",NaN,NaN,NaN,NaN,1977-04-14,palmerdiane@yahoo.com,2c2f7154b80f40ca80d08c5adc54ea45,NaN,Angela,Garcia,Alexis,1-663-109-4460x1080,2001-02-15T18:50:35,xxx-xx-9825
4,NaN,East Sharonstad,ME,158 Smith Vista,42483,1970-03-19,nancymaxwell@gmail.com,4f5263f339694d068e17ee7fdbb852b8,NaN,Jennifer,Rodriguez,NaN,233-423-3823,2014-06-21T14:36:01,xxx-xx-9104
5,NaN,Thompsonview,AR,461 Knapp Unions,02398,1989-12-23,peterkhan@serrano.net,e615757bb70e4c9e8ec532f22a764a3e,NaN,Keith,Meadows,NaN,686-305-8557x0623,2012-03-02T10:37:14,xxx-xx-4652
6,"9524 Danielle Burg Apt. 849\nNorth Vickistad, ...",NaN,NaN,NaN,NaN,1983-05-09,laurenreilly@lopez-hurst.com,60880b0bcf614ccda8688409ee9d8db3,NaN,Shane,Garcia,NaN,721-135-6630,2013-01-19T12:17:21,xxx-xx-5597
7,"407 Patrick Shoal\nWilliamsshire, VI 49526",NaN,NaN,NaN,NaN,1989-10-05,wallaceheather@obrien-richardson.com,357cbf915fdb46dfa76c7bd3ea10feff,NaN,Charles,Bell,Lee,528-480-7488x60984,2004-03-03T07:35:59,xxx-xx-7244
8,NaN,Chrisview,CT,3697 Mills Estates Apt. 499,70997-3753,1987-06-24,michael18@yahoo.com,bbf4acd3660c4ba1803f396d789e538a,Morgan Morris,NaN,NaN,NaN,09316674472,2000-03-07T03:55:21,xxx-xx-7034
9,NaN,NaN,NaN,NaN,NaN,1980-03-20,erinsanford@garcia.com,3422bcb95ad6454f8348087ba25902f0,Bernard Wilkerson,NaN,NaN,NaN,196-454-2484,2016-11-29T21:01:43,xxx-xx-0866

## 2. Answer the following questions for each field in your list from question 1.

- What percentage of the records contain the field?
- What are the five most common values of the field?    
Note: I keep name and address field as it is if the further division is not given as shown in above data frame

In [71]:
for col in df.columns:
    print("for column {}: ".format(col))
    print("Percentage of records in {}: {:.2f}%".format(col, (len(df[df[col].notnull()]) / len(df)) * 100))
    print("5 most common values for {}:".format(col))
    print(df[col].value_counts().sort_values(ascending=False).head(5))
    print("")

for column address:
Percentage of records in address: 50.13%
5 most common values for address:
77842 Floyd Course\nLake Antonio, DC 48644         1
57503 Adam Flats\nWest Katherinestad, ND 87706     1
591 Caitlyn Point\nEast Johnland, KS 13606-0958    1
USS Kelly\nFPO AP 76741-3143                       1
Unit 2811 Box 8864\nDPO AE 28236                   1
Name: address, dtype: int64

for column address.city:
Percentage of records in address.city: 40.82%
5 most common values for address.city:
New Michael      61
Lake Michael     58
East Michael     57
North Michael    56
Port Michael     56
Name: address.city, dtype: int64

for column address.state:
Percentage of records in address.state: 40.82%
5 most common values for address.state:
NC    1109
DC    1106
MI    1097
MD    1095
OH    1085
Name: address.state, dtype: int64

for column address.street:
Percentage of records in address.street: 40.82%
5 most common values for address.street:
0700 Mary Lights Suite 750    1
447 Jocelyn Land Apt. 771     1
41101 Tracey Squares          1
6141 Chase Squares            1
6170 Tracy Parkways           1
Name: address.street, dtype: int64

for column address.zip:
Percentage of records in address.zip: 40.82%
5 most common values for address.zip:
53097    5
98018    5
99528    5
17086    5
50032    5
Name: address.zip, dtype: int64

for column dob:
Percentage of records in dob: 95.92%
5 most common values for dob:
1950-11-13    24
1963-01-25    21
1968-01-18    20
1963-11-30    20
1989-08-30    20
Name: dob, dtype: int64

for column email:
Percentage of records in email: 87.25%
5 most common values for email:
qsmith@gmail.com       9
kwilliams@yahoo.com    9
zsmith@gmail.com       9
asmith@hotmail.com     9
rwilliams@gmail.com    8
Name: email, dtype: int64

for column id:
Percentage of records in id: 100.00%
5 most common values for id:
abcb6f753c7247f5a6a673f38e19215b    1
bb8a1b18f25349f59aafe71758a674ed    1
8bd5237f3e1245de98360c7a9263ff27    1
3f84e5f1667144edb58cb2ba0ddd123c    1
1d3fb4098ad947d0959812cfe917f48f    1
Name: id, dtype: int64

for column name:
Percentage of records in name: 28.71%
5 most common values for name:
David Smith        20
John Smith         19
Michael Smith      18
Michael Johnson    17
Michael Brown      16
Name: name, dtype: int64

for column name.firstname:
Percentage of records in name.firstname: 70.00%
5 most common values for name.firstname:
Michael     2356
David       1577
James       1551
Jennifer    1543
John        1479
Name: name.firstname, dtype: int64

for column name.lastname:
Percentage of records in name.lastname: 70.00%
5 most common values for name.lastname:
Smith       2373
Johnson     1784
Williams    1417
Brown       1350
Jones       1296
Name: name.lastname, dtype: int64

for column name.middlename:
Percentage of records in name.middlename: 29.11%
5 most common values for name.middlename:
Michael     977
David       703
Jennifer    656
James       622
John        589
Name: name.middlename, dtype: int64

for column phone:
Percentage of records in phone: 93.51%
5 most common values for phone:
1-298-341-1025         2
1-496-635-9783x2941    1
09910988036            1
513-461-9702           1
126-555-7502           1
Name: phone, dtype: int64

for column record_date:
Percentage of records in record_date: 100.00%
5 most common values for record_date:
2008-10-15T13:03:26    2
2000-05-08T12:20:50    2
2009-12-25T00:36:53    2
2015-11-10T05:07:28    2
2003-09-08T05:27:32    2
Name: record_date, dtype: int64

for column ssn:
Percentage of records in ssn: 94.96%
5 most common values for ssn:
xxx-xx-6568    32
xxx-xx-2156    31
xxx-xx-2027    29
xxx-xx-9582    28
xxx-xx-0543    28
Name: ssn, dtype: int64

## 3. How many distinct first names appear in this data set? Explain your procedure for identifying distinct first names