In [1]:
import json
import gzip
import jsonlines
import pandas as pd
import json
from pandas.io.json import json_normalize
import re

## 1. Converting Json Lines file to dataframe    
- The json-lines file is a list of json objects I read that into a stream and convert that stream into list of json objects    
- Then I take this list and convert to the dataframe by using json_normalize() which gives me the dataframe output as shown below

In [2]:
with gzip.GzipFile("ida_wrangling_exercise_data.2017-02-13.jsonl.gz", "rb") as f:
    stream = f.read().decode('utf-8')

In [3]:
data = []

# convert list of string to list of jsons 
for str in stream.split('\n'):
    if str!='': #is str is not empty in list
        data.append(json.loads(str))

In [4]:
df = json_normalize(data)

In [5]:
df.head(10)

,address,address.city,address.state,address.street,address.zip,dob,email,id,name,name.firstname,name.lastname,name.middlename,phone,record_date,ssn
0,NaN,Hoodburgh,RI,86314 David Pass Apt. 211,83973,1971-06-30,opark@hotmail.com,01d68a4c598a45559c06f4df0b3d82cb,NaN,Cynthia,Dawson,Claire,624-869-4610,2006-07-08T09:02:13,xxx-xx-2412
1,"20722 Coleman Villages\nEast Rose, SC 71064-5894",NaN,NaN,NaN,NaN,1965-09-09,sperez@armstrong.com,876ff718291d4397bb1e0477ceee6ad9,NaN,Tamara,Myers,NaN,1-594-462-7759,2009-03-28T20:22:57,xxx-xx-8025
2,NaN,New Julie,UT,6676 Young Square,73125,1993-04-12,uortiz@gmail.com,81753097bf7e4e2085982f422bdb9cda,NaN,Jamie,Alexander,NaN,472.218.5065x389,2016-08-30T20:31:39,xxx-xx-0568
3,"0932 Gomez Drives\nLeefort, MD 46879-3166",NaN,NaN,NaN,NaN,1977-04-14,palmerdiane@yahoo.com,2c2f7154b80f40ca80d08c5adc54ea45,NaN,Angela,Garcia,Alexis,1-663-109-4460x1080,2001-02-15T18:50:35,xxx-xx-9825
4,NaN,East Sharonstad,ME,158 Smith Vista,42483,1970-03-19,nancymaxwell@gmail.com,4f5263f339694d068e17ee7fdbb852b8,NaN,Jennifer,Rodriguez,NaN,233-423-3823,2014-06-21T14:36:01,xxx-xx-9104
5,NaN,Thompsonview,AR,461 Knapp Unions,02398,1989-12-23,peterkhan@serrano.net,e615757bb70e4c9e8ec532f22a764a3e,NaN,Keith,Meadows,NaN,686-305-8557x0623,2012-03-02T10:37:14,xxx-xx-4652
6,"9524 Danielle Burg Apt. 849\nNorth Vickistad, ...",NaN,NaN,NaN,NaN,1983-05-09,laurenreilly@lopez-hurst.com,60880b0bcf614ccda8688409ee9d8db3,NaN,Shane,Garcia,NaN,721-135-6630,2013-01-19T12:17:21,xxx-xx-5597
7,"407 Patrick Shoal\nWilliamsshire, VI 49526",NaN,NaN,NaN,NaN,1989-10-05,wallaceheather@obrien-richardson.com,357cbf915fdb46dfa76c7bd3ea10feff,NaN,Charles,Bell,Lee,528-480-7488x60984,2004-03-03T07:35:59,xxx-xx-7244
8,NaN,Chrisview,CT,3697 Mills Estates Apt. 499,70997-3753,1987-06-24,michael18@yahoo.com,bbf4acd3660c4ba1803f396d789e538a,Morgan Morris,NaN,NaN,NaN,09316674472,2000-03-07T03:55:21,xxx-xx-7034
9,NaN,NaN,NaN,NaN,NaN,1980-03-20,erinsanford@garcia.com,3422bcb95ad6454f8348087ba25902f0,Bernard Wilkerson,NaN,NaN,NaN,196-454-2484,2016-11-29T21:01:43,xxx-xx-0866

## 2. Answer the following questions for each field in your list from question 1.

- What percentage of the records contain the field?
- What are the five most common values of the field?    
Note: I keep name and address field as it is if the further division is not given as shown in above data frame

In [6]:
for col in df.columns:
    print("for column {}: ".format(col))
    print("Percentage of records in {}: {:.2f}%".format(col, (len(df[df[col].notnull()]) / len(df)) * 100))
    print("5 most common values for {}:".format(col))
    print(df[col].value_counts().sort_values(ascending=False).head(5))
    print("")

for column address:
Percentage of records in address: 50.13%
5 most common values for address:
776 Torres Track Apt. 575\nJeffersonchester, NV 08036        1
5302 Lucas Island Apt. 946\nLake Jackieton, KS 18462-2375    1
37550 Ferrell Point\nNorth Johnland, AK 44167                1
79871 Coleman Field Suite 153\nWest Aaron, WI 84164-8891     1
389 Jacobs Highway\nCurtisburgh, IL 30266-4226               1
Name: address, dtype: int64

for column address.city:
Percentage of records in address.city: 40.82%
5 most common values for address.city:
New Michael      61
Lake Michael     58
East Michael     57
Port Michael     56
North Michael    56
Name: address.city, dtype: int64

for column address.state:
Percentage of records in address.state: 40.82%
5 most common values for address.state:
NC    1109
DC    1106
MI    1097
MD    1095
OH    1085
Name: address.state, dtype: int64

for column address.street:
Percentage of records in address.street: 40.82%
5 most common values for address.street:
819 Williams Lake                  1
3099 Courtney Forge Apt. 127       1
3189 Blackwell Burgs Suite 246     1
25216 Stephen Corners Suite 181    1
51465 Booth Summit Suite 650       1
Name: address.street, dtype: int64

for column address.zip:
Percentage of records in address.zip: 40.82%
5 most common values for address.zip:
26231    5
17086    5
53097    5
99528    5
98018    5
Name: address.zip, dtype: int64

for column dob:
Percentage of records in dob: 95.92%
5 most common values for dob:
1950-11-13    24
1963-01-25    21
1963-11-30    20
1964-06-11    20
1968-01-18    20
Name: dob, dtype: int64

for column email:
Percentage of records in email: 87.25%
5 most common values for email:
kwilliams@yahoo.com      9
asmith@hotmail.com       9
zsmith@gmail.com         9
qsmith@gmail.com         9
wwilliams@hotmail.com    8
Name: email, dtype: int64

for column id:
Percentage of records in id: 100.00%
5 most common values for id:
8aa43a8720e3424abd587885106e16d3    1
9eeb6814fd8349e799e5cfab2f00240d    1
7bc5bd9b426748a7b74ca5bd6cf3cff9    1
5231519127fa41cd8061f872a1f6e52b    1
8b143d4737424f5584c8516b4a02c1a9    1
Name: id, dtype: int64

for column name:
Percentage of records in name: 28.71%
5 most common values for name:
David Smith          20
John Smith           19
Michael Smith        18
Michael Johnson      17
Christopher Smith    16
Name: name, dtype: int64

for column name.firstname:
Percentage of records in name.firstname: 70.00%
5 most common values for name.firstname:
Michael     2356
David       1577
James       1551
Jennifer    1543
John        1479
Name: name.firstname, dtype: int64

for column name.lastname:
Percentage of records in name.lastname: 70.00%
5 most common values for name.lastname:
Smith       2373
Johnson     1784
Williams    1417
Brown       1350
Jones       1296
Name: name.lastname, dtype: int64

for column name.middlename:
Percentage of records in name.middlename: 29.11%
5 most common values for name.middlename:
Michael     977
David       703
Jennifer    656
James       622
John        589
Name: name.middlename, dtype: int64

for column phone:
Percentage of records in phone: 93.51%
5 most common values for phone:
1-298-341-1025          2
03678972027             1
951-227-1025x681        1
081.000.6207x593        1
1-471-060-5656x46531    1
Name: phone, dtype: int64

for column record_date:
Percentage of records in record_date: 100.00%
5 most common values for record_date:
2008-03-20T02:06:49    2
2010-10-13T02:12:50    2
2009-12-25T00:36:53    2
2002-08-12T14:22:37    2
2013-05-11T17:44:17    2
Name: record_date, dtype: int64

for column ssn:
Percentage of records in ssn: 94.96%
5 most common values for ssn:
xxx-xx-6568    32
xxx-xx-2156    31
xxx-xx-2027    29
xxx-xx-9582    28
xxx-xx-0543    28
Name: ssn, dtype: int64

## 3. How many distinct first names appear in this data set? Explain your procedure for identifying distinct first names        
As seen in the dataframe there are some names which are not seperated and are present in name column, also there are some prefixs like "Mr." and others listed below. so I need to eliminate them and extract the name by splitting the name in first name and last name by space. I take the two columns seperately and get the unique columns from them and then count the total number of unique values to get the required result.    
There are 1938 rows which do not have any names associated with them.     
The Number of distinct first names: 690

In [7]:
prefix = ['Mr.', 'Mrs.', 'Ms.', 'Dr.', 'Miss'] #unwanted prefix to remove

def getFirstName(name): #function to extract first name
    return [str for str in name.split(' ') if str not in prefix][0]

In [8]:
names = df[df.name.notnull()].name #use non NaN values
fname = names.apply(getFirstName)

In [9]:
fname = fname.append(df[df['name.firstname'].notnull()]['name.firstname']) #combine two columns

In [10]:
print("Number of rows having no name: {}".format(len(df[df.name.isnull() & df['name.firstname'].isnull()])))

Number of rows having no name: 1938

In [11]:
print("Number of distinct first names: {}".format(len(fname.unique())))

Number of distinct first names: 690

## 4. How many distinct street names appear in this data set? Explain your procedure for identifying distinct street names.
I created some rules based on my observation to eliminate few unwanted data in the address field and based on guidelines mentioned in https://pe.usps.com/cpim/ftp/pubs/pub28/pub28.pdf pg no 59-60 took most common street types and created a list of them    

Approach:    
1. Combine data from adrress and address.street column.     
2. remove string after Apt. and Suite     
3. remove all numeric characters as in this case there was no example of 5th street, etc    
4. Get the vocabulary of street types from USPS    
5. see if the second part of the name is in streetType and ignore all others    
6. Then calculate how many distinct street names are distinct

In [12]:
address = df[df['address.street'].notnull()]['address.street']
address = address.append(df[df.address.notnull()].address)

In [13]:
# reference https://pe.usps.com/cpim/ftp/pubs/pub28/pub28.pdf pg no 59-60
def cleanAddress(address):
    address = address.split("\n")[0]
    address = address.split("Apt.")[0]
    address = address.split("Suite")[0]
    address = re.sub(r'[0-9]+', '', address)
    streetTypes = ['Alley','Avenue','Boulevard','Branch','Bridge','Circle','Court','Creek','Drive','Estate','Expressway','Freeway',\
                   'Highway','Motorway','Park','Pass','Parkway','Place','Road','Square','Street','Terrace','Trail']
    if address.strip().split(' ')[1] in streetTypes:
        return address.strip()

In [14]:
validNames = address.apply(cleanAddress)
validNames = validNames.dropna()
validNames.head(10)

0            David Pass
2          Young Square
12         Baker Branch
13     Bennett Motorway
49        Miller Street
77     Stephanie Avenue
102        Tammy Square
122          Potts Road
135        Curtis Creek
144        Cohen Street
dtype: object

In [15]:
print("Number of distinct street names: {}".format(len(validNames.unique())))

Number of distinct street names: 9334

## 5. What are the 5 most common US area codes in the phone number field? Explain your approach to identify the US area codes in this data set.
I use a rule based approach based on my observations of the numbers, all these rules are coded in cleanPhone() function    
Approach:    
1. I take the number and remove all number after the character 'x' (for 1-663-109-4460x1080)     
2. If the number starts from 0 and the len of the number is 11 then remove the first character which is 0 (for 09316674472)   
3. also if the number starts with 1 and it is followed by '-' then I remove the preceding 1(for 1-594-462-7759)   
4. If the number starts with '+' then I remove the first 6 characters (for +74(2)6173978109)   
5. At the end I remove all non numeric characters to get the final number.   
6. Then I take the first 3 numbers to get the area code and get the top most used ones which are 947, 996, 292, 913, 488 with their counts as displayed below

In [16]:
def cleanPhone(number):
#     number = str(number)
    number = number.split('x')[0]
    if number[0]=='0' and len(number)==11:
        number = number[1:]
    elif number[0]=='1' and number[1]=='-':
        number = number[1:]
    if number[0]=='+':
        number = number[6:]
    number = re.sub('[^0-9]','', number)
    return number

In [17]:
phoneNos = df.phone.dropna()
areaCodes = phoneNos.apply(cleanPhone).str.slice(0,3)

In [18]:
print("Top 5 areacodes are as follows:\n{}".format(areaCodes.value_counts().sort_values(ascending=False).head(5)))

Top 5 areacodes are as follows:
947    178
996    175
292    172
913    172
488    170
Name: phone, dtype: int64